@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.practice02 .banner  .content p{
    font-weight: 300;
    color: #111;
}

.practice02 .banner 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./sources/bg.jpg);
    background-size: cover;
}

.practice02 .banner  .content
{
    max-width: 900px;
    text-align: center;
}

.practice02 .banner  .content h2
{
    font-size: 5em;
    color: #fff;
}

.practice02 .banner  .content p
{
    font-size: 1em;
    color: #fff;
}

.practice02 .banner  .content .btn
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.practice02 .banner  .content .btn:hover
{
    letter-spacing: 4px;
}