
.credit-cart
{
    overflow: hidden;
    font-family: Poppins;
}

.credit-cart section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1c1c25;
}

.credit-cart section::before
{
    content: '';
    position: absolute;
    bottom: -40%;
    left: 40%;
    width: 600px;
    height: 600px;
    background: linear-gradient(#f00,#f0f);
    border-radius: 50%;
}

.credit-cart .card
{
    position: relative;
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.credit-cart .card .face
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: 1s;
    backface-visibility: hidden;
}

.credit-cart .card:hover .face.front
{
    transform: rotateY(180deg);
}

.credit-cart .card .face.back
{
    transform: rotateY(180deg);
}

.credit-cart .card:hover .face.back
{
    transform: rotateY(360deg);
}

.credit-cart .card .face.front::before
{
    content: '';
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
}

.credit-cart .card .face.front::after
{
    content: '';
    position: absolute;
    bottom: 40px;
    right: 80px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.7;
}

.credit-cart .card .face.front .debit
{
    position: absolute;
    top: 40px;
    left: 30px;
    color: #fff;
    font-weight: 500;
}

.credit-cart .card .face.front .bank
{
    position: absolute;
    top: 25px;
    right: 40px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
}

.credit-cart .card .face.front .chip
{
   position: absolute;
   top: 80px;
   left: 50px;
   max-width: 64px; 
}

.credit-cart .card .face.front .number
{
    position: absolute;
    bottom: 130px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow: 0 2px 1px #0005;
    font-family: 'Orbitron';
}

.credit-cart .card .face.front .valid
{
    position: absolute;
    bottom: 90px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    text-align: right;
}

.credit-cart .card .face.front .valid span:last-child
{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.credit-cart .card .face.front .cardHolder
{
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
}

.credit-cart .card .face.back .blackbar
{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background: #000;
}

.credit-cart .card .face.back .ccvtext
{
    position: absolute;
    top: 120px;
    left: 30px;
}

.credit-cart .card .face.back .ccvtext h5
{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.credit-cart .card .face.back .ccvtext .whiteBar
{
    position: relative;
    width: 400px;
    height: 40px;
    background: #fff;
    margin-top: 5px;
}

.credit-cart .card .face.back .ccvtext .ccv
{
    position: relative;
    left: 395px;
    top: -35px;
    background: #ccc;
    color: #222;
    width: 50px;
    height: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-cart .card .face.back .text
{
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 300;
}